In [1]:
import numpy as np
import pandas as pd

from pandas import Series,DataFrame

In [ ]:
import webbrowser
website='https://ratings.fide.com/top.phtml?list=men'
webbrowser.open(website)

In [19]:
chess_frame = pd.read_clipboard()

In [3]:
chess_frame.head(5)

   Rank                      Name Title Country  Rating  Games  B-Year
0     1           Carlsen, Magnus     g     NOR    2838      0    1990
1     2                So, Wesley     g     USA    2822      0    1993
2     3          Caruana, Fabiano     g     USA    2817     10    1992
3     4         Kramnik, Vladimir     g     RUS    2811      0    1975
4     5   Vachier-Lagrave, Maxime     g     FRA    2803     19    1990

In [4]:
chess_frame.columns

Index([u'Rank', u'Name', u'Title', u'Country', u'Rating', u'Games', u'B-Year'], dtype='object')

In [5]:
chess_frame.Name.head(5)

0             Carlsen, Magnus
1                  So, Wesley
2            Caruana, Fabiano
3           Kramnik, Vladimir
4     Vachier-Lagrave, Maxime
Name: Name, dtype: object

In [7]:
chess_frame['Rating'].head(5)

0    2838
1    2822
2    2817
3    2811
4    2803
Name: Rating, dtype: int64

In [21]:
DataFrame(chess_frame,columns=['Rank','Name','Title','Country','Rating','Games','B-Year']).head()

   Rank                      Name Title Country  Rating  Games  B-Year
0     1           Carlsen, Magnus     g     NOR    2838      0    1990
1     2                So, Wesley     g     USA    2822      0    1993
2     3          Caruana, Fabiano     g     USA    2817     10    1992
3     4         Kramnik, Vladimir     g     RUS    2811      0    1975
4     5   Vachier-Lagrave, Maxime     g     FRA    2803     19    1990

In [22]:
chess_frame = DataFrame(chess_frame,columns=['Rank','Name','Title','Country','Rating','Games','B-Year', 'Aux'])
chess_frame.head(3)

   Rank               Name Title Country  Rating  Games  B-Year  Aux
0     1    Carlsen, Magnus     g     NOR    2838      0    1990  NaN
1     2         So, Wesley     g     USA    2822      0    1993  NaN
2     3   Caruana, Fabiano     g     USA    2817     10    1992  NaN

In [23]:
chess_frame.head()

   Rank                      Name Title Country  Rating  Games  B-Year  Aux
0     1           Carlsen, Magnus     g     NOR    2838      0    1990  NaN
1     2                So, Wesley     g     USA    2822      0    1993  NaN
2     3          Caruana, Fabiano     g     USA    2817     10    1992  NaN
3     4         Kramnik, Vladimir     g     RUS    2811      0    1975  NaN
4     5   Vachier-Lagrave, Maxime     g     FRA    2803     19    1990  NaN

In [24]:
chess_frame.tail()

    Rank                  Name Title Country  Rating  Games  B-Year  Aux
95    96          Amin, Bassem     g     EGY    2660      1    1988  NaN
96    97     Ipatov, Alexander     g     TUR    2660      0    1993  NaN
97    98   Tkachiev, Vladislav     g     FRA    2660      0    1973  NaN
98    99          Kamsky, Gata     g     USA    2659     10    1974  NaN
99   100        Najer, Evgeniy     g     RUS    2659      0    1977  NaN

In [25]:
chess_frame.ix[0]

Rank                      1
Name        Carlsen, Magnus
Title                     g
Country                 NOR
Rating                 2838
Games                     0
B-Year                 1990
Aux                     NaN
Name: 0, dtype: object

In [26]:
chess_frame['Aux'] = "hi there"

In [27]:
chess_frame

,Rank,Name,Title,Country,Rating,Games,B-Year,Aux
0,1,"Carlsen, Magnus",g,NOR,2838,0,1990,hi there
1,2,"So, Wesley",g,USA,2822,0,1993,hi there
2,3,"Caruana, Fabiano",g,USA,2817,10,1992,hi there
3,4,"Kramnik, Vladimir",g,RUS,2811,0,1975,hi there
4,5,"Vachier-Lagrave, Maxime",g,FRA,2803,19,1990,hi there
5,6,"Nakamura, Hikaru",g,USA,2793,19,1987,hi there
6,7,"Anand, Viswanathan",g,IND,2786,0,1969,hi there
7,8,"Karjakin, Sergey",g,RUS,2783,0,1990,hi there
8,9,"Aronian, Levon",g,ARM,2774,9,1982,hi there
9,10,"Mamedyarov, Shakhriyar",g,AZE,2772,9,1985,hi there
10,11,"Giri, Anish",g,NED,2769,0,1994,hi there
11,12,"Adams, Michael",g,ENG,2761,19,1971,hi there
12,13,"Ding, Liren",g,CHN,2759,9,1992,hi there
13,14,"Harikrishna, P.",g,IND,2758,0,1986,hi there
14,15,"Eljanov, Pavel",g,UKR,2751,9,1983,hi there
15,16,"Nepomniachtchi, Ian",g,RUS,2751,9,1990,hi there
16,17,"Grischuk, Alexander",g,RUS,2750,10,1983,hi there
17,18,"Yu, Yangyi",g,CHN,2750,10,1994,hi there
18,19,"Wojtaszek, Radoslaw",g,POL,2745,0,1987,hi there
19,20,"Svidler, Peter",g,RUS,2741,10,1976,hi there
20,21,"Topalov, Veselin",g,BUL,2741,10,1975,hi there
21,22,"Dominguez Perez, Leinier",g,CUB,2739,0,1983,hi there
22,23,"Andreikin, Dmitry",g,RUS,2734,0,1990,hi there
23,24,"Ivanchuk, Vassily",g,UKR,2732,10,1969,hi there
24,25,"Navara, David",g,CZE,2728,4,1985,hi there
25,26,"Wei, Yi",g,CHN,2725,0,1999,hi there
26,27,"Gelfand, Boris",g,ISR,2724,10,1968,hi there
27,28,"Inarkiev, Ernesto",g,RUS,2723,0,1985,hi there
28,29,"Vitiugov, Nikita",g,RUS,2720,10,1987,hi there
29,30,"Li, Chao b",g,CHN,2720,9,1989,hi there
...,...,...,...,...,...,...,...,...
70,71,"Xiong, Jeffery",g,USA,2674,0,2000,hi there
71,72,"Iturrizaga Bonelli, Eduardo",g,VEN,2673,19,1989,hi there
72,73,"Vidit, Santosh Gujrathi",g,IND,2673,0,1994,hi there
73,74,"Kovalenko, Igor",g,LAT,2672,19,1988,hi there
74,75,"Markus, Robert",g,SRB,2671,1,1983,hi there
75,76,"Negi, Parimarjan",g,IND,2670,0,1993,hi there
76,77,"Rakhmanov, Aleksandr",g,RUS,2670,0,1989,hi there
77,78,"Smirin, Ilia",g,ISR,2668,4,1968,hi there
78,79,"Van Wely, Loek",g,NED,2668,1,1972,hi there
79,80,"Robson, Ray",g,USA,2668,0,1994,hi there
80,81,"Howell, David W L",g,ENG,2667,12,1990,hi there
81,82,"Artemiev, Vladislav",g,RUS,2667,9,1998,hi there
82,83,"Laznicka, Viktor",g,CZE,2667,2,1988,hi there
83,84,"Onischuk, Alexander",g,USA,2667,0,1975,hi there
84,85,"Shankland, Samuel L",g,USA,2666,10,1991,hi there
85,86,"Bareev, Evgeny",g,CAN,2666,0,1966,hi there
86,87,"Sargissian, Gabriel",g,ARM,2666,0,1983,hi there
87,88,"Sjugirov, Sanan",g,RUS,2665,9,1993,hi there
88,89,"Mareco, Sandro",g,ARG,2664,9,1987,hi there
89,90,"Moiseenko, Alexander",g,UKR,2664,2,1980,hi there
90,91,"Motylev, Alexander",g,RUS,2663,0,1979,hi there
91,92,"Fressinet, Laurent",g,FRA,2662,11,1981,hi there
92,93,"Zvjaginsev, Vadim",g,RUS,2661,10,1976,hi there
93,94,"Riazantsev, Alexander",g,RUS,2661,9,1985,hi there
94,95,"Dubov, Daniil",g,RUS,2661,0,1996,hi there
95,96,"Amin, Bassem",g,EGY,2660,1,1988,hi there
96,97,"Ipatov, Alexander",g,TUR,2660,0,1993,hi there
97,98,"Tkachiev, Vladislav",g,FRA,2660,0,1973,hi there
98,99,"Kamsky, Gata",g,USA,2659,10,1974,hi there
99,100,"Najer, Evgeniy",g,RUS,2659,0,1977,hi there

In [32]:
chess_frame['Aux'] = np.arange(100)

In [34]:
chess_frame.head()

   Rank                      Name Title Country  Rating  Games  B-Year  Aux
0     1           Carlsen, Magnus     g     NOR    2838      0    1990    0
1     2                So, Wesley     g     USA    2822      0    1993    1
2     3          Caruana, Fabiano     g     USA    2817     10    1992    2
3     4         Kramnik, Vladimir     g     RUS    2811      0    1975    3
4     5   Vachier-Lagrave, Maxime     g     FRA    2803     19    1990    4

In [35]:
months = Series(['January','March'], index=[4,0])

In [36]:
months

4    January
0      March
dtype: object

In [37]:
chess_frame['Aux'] = months

In [38]:
chess_frame.head()

,Rank,Name,Title,Country,Rating,Games,B-Year,Aux
0,1,"Carlsen, Magnus",g,NOR,2838,0,1990,March
1,2,"So, Wesley",g,USA,2822,0,1993,NaN
2,3,"Caruana, Fabiano",g,USA,2817,10,1992,NaN
3,4,"Kramnik, Vladimir",g,RUS,2811,0,1975,NaN
4,5,"Vachier-Lagrave, Maxime",g,FRA,2803,19,1990,January

In [39]:
del chess_frame['Aux']
chess_frame

    Rank                          Name Title Country  Rating  Games  B-Year
0      1               Carlsen, Magnus     g     NOR    2838      0    1990
1      2                    So, Wesley     g     USA    2822      0    1993
2      3              Caruana, Fabiano     g     USA    2817     10    1992
3      4             Kramnik, Vladimir     g     RUS    2811      0    1975
4      5       Vachier-Lagrave, Maxime     g     FRA    2803     19    1990
5      6              Nakamura, Hikaru     g     USA    2793     19    1987
6      7            Anand, Viswanathan     g     IND    2786      0    1969
7      8              Karjakin, Sergey     g     RUS    2783      0    1990
8      9                Aronian, Levon     g     ARM    2774      9    1982
9     10        Mamedyarov, Shakhriyar     g     AZE    2772      9    1985
10    11                   Giri, Anish     g     NED    2769      0    1994
11    12                Adams, Michael     g     ENG    2761     19    1971
12    13                   Ding, Liren     g     CHN    2759      9    1992
13    14               Harikrishna, P.     g     IND    2758      0    1986
14    15                Eljanov, Pavel     g     UKR    2751      9    1983
15    16           Nepomniachtchi, Ian     g     RUS    2751      9    1990
16    17           Grischuk, Alexander     g     RUS    2750     10    1983
17    18                    Yu, Yangyi     g     CHN    2750     10    1994
18    19           Wojtaszek, Radoslaw     g     POL    2745      0    1987
19    20                Svidler, Peter     g     RUS    2741     10    1976
20    21              Topalov, Veselin     g     BUL    2741     10    1975
21    22      Dominguez Perez, Leinier     g     CUB    2739      0    1983
22    23             Andreikin, Dmitry     g     RUS    2734      0    1990
23    24             Ivanchuk, Vassily     g     UKR    2732     10    1969
24    25                 Navara, David     g     CZE    2728      4    1985
25    26                       Wei, Yi     g     CHN    2725      0    1999
26    27                Gelfand, Boris     g     ISR    2724     10    1968
27    28             Inarkiev, Ernesto     g     RUS    2723      0    1985
28    29              Vitiugov, Nikita     g     RUS    2720     10    1987
29    30                    Li, Chao b     g     CHN    2720      9    1989
..   ...                           ...   ...     ...     ...    ...     ...
70    71                Xiong, Jeffery     g     USA    2674      0    2000
71    72   Iturrizaga Bonelli, Eduardo     g     VEN    2673     19    1989
72    73       Vidit, Santosh Gujrathi     g     IND    2673      0    1994
73    74               Kovalenko, Igor     g     LAT    2672     19    1988
74    75                Markus, Robert     g     SRB    2671      1    1983
75    76              Negi, Parimarjan     g     IND    2670      0    1993
76    77          Rakhmanov, Aleksandr     g     RUS    2670      0    1989
77    78                  Smirin, Ilia     g     ISR    2668      4    1968
78    79                Van Wely, Loek     g     NED    2668      1    1972
79    80                   Robson, Ray     g     USA    2668      0    1994
80    81             Howell, David W L     g     ENG    2667     12    1990
81    82           Artemiev, Vladislav     g     RUS    2667      9    1998
82    83              Laznicka, Viktor     g     CZE    2667      2    1988
83    84           Onischuk, Alexander     g     USA    2667      0    1975
84    85           Shankland, Samuel L     g     USA    2666     10    1991
85    86                Bareev, Evgeny     g     CAN    2666      0    1966
86    87           Sargissian, Gabriel     g     ARM    2666      0    1983
87    88               Sjugirov, Sanan     g     RUS    2665      9    1993
88    89                Mareco, Sandro     g     ARG    2664      9    1987
89    90          Moiseenko, Alexander     g     UKR    2664      2    1980
90    91            Motylev, Alexander     g     RUS    2663      0    1979
91    92            Fressinet, Laurent     g     FRA    2662     11    1981
92    93             Zvjaginsev, Vadim     g     RUS    2661     10    1976
93    94         Riazantsev, Alexander     g     RUS    2661      9    1985
94    95                 Dubov, Daniil     g     RUS    2661      0    1996
95    96                  Amin, Bassem     g     EGY    2660      1    1988
96    97             Ipatov, Alexander     g     TUR    2660      0    1993
97    98           Tkachiev, Vladislav     g     FRA    2660      0    1973
98    99                  Kamsky, Gata     g     USA    2659     10    1974
99   100                Najer, Evgeniy     g     RUS    2659      0    1977

[100 rows x 7 columns]

In [40]:
data = {'City':['SF','LA','NYC'], 'Population':[837000, 3880000, 8400000]}

In [41]:
city_frame = DataFrame(data)

In [42]:
city_frame

  City  Population
0   SF      837000
1   LA     3880000
2  NYC     8400000