In [3]:
import pandas as pd
import numpy as np

from pandas import Series,DataFrame
from numpy.random import randn

In [6]:
ser1 = Series([1,2,3,4], index = ['A', 'B', 'C', 'D'])
ser1

A    1
B    2
C    3
D    4
dtype: int64

In [8]:
ser2 = ser1.reindex(['A','B','C','D','E','F'])
ser2

A    1.0
B    2.0
C    3.0
D    4.0
E    NaN
F    NaN
dtype: float64

In [9]:
ser2.reindex(['A','B','C','D','E','F','G'], fill_value=0)

A    1.0
B    2.0
C    3.0
D    4.0
E    NaN
F    NaN
G    0.0
dtype: float64

In [11]:
ser3 = Series(['USA','Mexico','Canada'],index=[0,5,10])
ser3

0        USA
5     Mexico
10    Canada
dtype: object

In [12]:
ranger = range(15)
ranger

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]

In [13]:
ser3.reindex(ranger, method='ffill')

0        USA
1        USA
2        USA
3        USA
4        USA
5     Mexico
6     Mexico
7     Mexico
8     Mexico
9     Mexico
10    Canada
11    Canada
12    Canada
13    Canada
14    Canada
dtype: object

In [16]:
dframe = DataFrame(randn(25).reshape(5,5), index=['A','B','D','E','F'],
                   columns=['col1','col2','col3','col4','col5'])
dframe

       col1      col2      col3      col4      col5
A -0.603169  0.879330  0.504652 -0.720735 -0.244435
B  0.484922  0.421368 -1.090895 -1.083469 -0.166138
D -1.256269 -1.469589 -0.334041 -0.566797  0.081973
E  1.667391 -0.429424 -1.629477 -1.103473  0.822927
F  0.486753  0.866497 -1.121874  0.812701 -0.327535

In [18]:
dframe2 = dframe.reindex(['A','B','C','D','E','F'])
dframe2

       col1      col2      col3      col4      col5
A -0.603169  0.879330  0.504652 -0.720735 -0.244435
B  0.484922  0.421368 -1.090895 -1.083469 -0.166138
C       NaN       NaN       NaN       NaN       NaN
D -1.256269 -1.469589 -0.334041 -0.566797  0.081973
E  1.667391 -0.429424 -1.629477 -1.103473  0.822927
F  0.486753  0.866497 -1.121874  0.812701 -0.327535

In [19]:
new_columns = ['col1','col2','col3','col4','col5','col6']

In [22]:
dframe2.reindex(columns=new_columns)

       col1      col2      col3      col4      col5  col6
A -0.603169  0.879330  0.504652 -0.720735 -0.244435   NaN
B  0.484922  0.421368 -1.090895 -1.083469 -0.166138   NaN
C       NaN       NaN       NaN       NaN       NaN   NaN
D -1.256269 -1.469589 -0.334041 -0.566797  0.081973   NaN
E  1.667391 -0.429424 -1.629477 -1.103473  0.822927   NaN
F  0.486753  0.866497 -1.121874  0.812701 -0.327535   NaN

In [23]:
dframe

       col1      col2      col3      col4      col5
A -0.603169  0.879330  0.504652 -0.720735 -0.244435
B  0.484922  0.421368 -1.090895 -1.083469 -0.166138
D -1.256269 -1.469589 -0.334041 -0.566797  0.081973
E  1.667391 -0.429424 -1.629477 -1.103473  0.822927
F  0.486753  0.866497 -1.121874  0.812701 -0.327535

In [ ]:
dframe.ix[]